In [20]:
import pandas as pd
import numpy as np
import plotly.express as px

# load data from file csv
data = pd.read_csv(r'C:\Users\Hoang\Data analysis\Chocolate Sales\Chocolate Sales.csv')

# make DataFrame from csv file
df = pd.DataFrame(data)

# FIRST 10 ROWS OF DATASET

In [22]:
print(f'First 10 rows of dataset:\n{df.head(10)}')

First 10 rows of dataset:
      Sales Person      Country              Product       Date    Amount  \
0   Jehu Rudeforth           UK      Mint Chip Choco  04-Jan-22   $5,320
1      Van Tuxwell        India        85% Dark Bars  01-Aug-22   $7,896
2     Gigi Bohling        India  Peanut Butter Cubes  07-Jul-22   $4,501
3     Jan Morforth    Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4   Jehu Rudeforth           UK  Peanut Butter Cubes  24-Feb-22  $13,685
5      Van Tuxwell        India   Smooth Sliky Salty  06-Jun-22   $5,376
6       Oby Sorrel           UK      99% Dark & Pure  25-Jan-22  $13,685
7  Gunar Cockshoot    Australia          After Nines  24-Mar-22   $3,080
8   Jehu Rudeforth  New Zealand       50% Dark Bites  20-Apr-22   $3,990
9      Brien Boise    Australia      99% Dark & Pure  04-Jul-22   $2,835

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184
5             38
6            176
7             73
8             59
9            102

# OVERVIEW OF DATA

In [24]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB
None

There is no missing data
Sale person column divides to first name, last name if needed (for filter) 
Date column need to convert to datetime type
Amount coulumn need to convert to integer type

# UNIQUE VALUES IN EACH COLUMN

In [26]:
print(df.nunique())

Sales Person      25
Country            6
Product           22
Date             168
Amount           827
Boxes Shipped    385
dtype: int64

AttributeError: 'str' object has no attribute 'unique'

# CHECK DUPLICATE ROWS

In [28]:
print(f'Number of duplicated rows: {df.duplicated().sum()}')

Number of duplicated rows: 0

# COVERT DATA TYPE OF DATE AND AMOUNT COLUMN, RENAME AMOUNT TO TOTAL REVENUE

In [64]:
df['Date'] = pd.to_datetime(df['Date'],format = '%d-%b-%y')
df.rename(columns={'Amount': 'Total Revenue($)'}, inplace=True)

# OVERVIEW AFTER CLEANING DATA

In [66]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sales Person      1094 non-null   object
 1   Country           1094 non-null   object
 2   Product           1094 non-null   object
 3   Date              1094 non-null   datetime64[ns]
 4   Total Revenue($)  1094 non-null   int32
 5   Boxes Shipped     1094 non-null   int64
dtypes: datetime64[ns](1), int32(1), int64(1), object(3)
memory usage: 47.1+ KB
None

# DESCRIBE OF NUMERIC DATA COLUMN

In [70]:
print(df.describe())

                                Date  Total Revenue($)  Boxes Shipped
count                           1094       1094.000000    1094.000000
mean   2022-05-03 09:04:56.160877568       5652.308044     161.797989
min              2022-01-03 00:00:00          7.000000       1.000000
25%              2022-03-02 00:00:00       2390.500000      70.000000
50%              2022-05-11 00:00:00       4868.500000     135.000000
75%              2022-07-04 00:00:00       8027.250000     228.750000
max              2022-08-31 00:00:00      22050.000000     709.000000
std                              NaN       4102.442014     121.544145

The dataset provides data of 8 months chocolate revenue from 6 different countries with 25 different sale people