In [10]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
print("Thank you, everyone. That was a great magic show!")

alice
Alice, that was a great trick!
I can't wait to see your next trick, Alice.

david
David, that was a great trick!
I can't wait to see your next trick, David.

carolina
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

üìù 4-1. Pizzas: Think of at least three kinds of your favorite pizza. Store these
pizza names in a list, and then use a for loop to print the name of each pizza.
‚Ä¢ Modify your for loop to print a sentence using the name of the pizza,
instead of printing just the name of the pizza. For each pizza, you should
have one line of output containing a simple statement like I like pepperoni
pizza.
‚Ä¢ Add a line at the end of your program, outside the for loop, that states
how much you like pizza. The output should consist of three or more lines
about the kinds of pizza you like and then an additional sentence, such as
I really love pizza!

In [14]:
pizzas = ['ananas','apple','mushroom']
for pizza in pizzas:
    print(pizza)
    print(f'I like {pizza} pizza')

ananas
I like ananas pizza
apple
I like apple pizza
mushroom
I like mushroom pizza

In [20]:
for value in range(1,5):
    print(value)

1
2
3
4

In [26]:
# create a list by using range function
numbers = list(range(1,10,2))
numbers

[1, 3, 5, 7, 9]

In [30]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
digits = list(range(0,10))
min(digits)

0

In [42]:
max(digits)

9

In [44]:
sum(digits)

45

In [50]:
# list comprehension
squares = [value**2 for value in range(1,10)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

üìù 4-3. Counting to Twenty: Use a for loop to print the numbers from 1 to 20,
inclusive.

In [52]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

üìù 4-5. Summing a Million: Make a list of the numbers from one to one million, and
then use min() and max() to make sure your list actually starts at one and ends
at one million. Also, use the sum() function to see how quickly Python can add
a million numbers.

In [54]:
millions = list(range(1,1_000_001))
min(millions)

1

In [56]:
max(millions)

1000000

In [58]:
sum(millions)

500000500000

üìù 4-6. Odd Numbers: Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [62]:
odd_nums = [odd_num for odd_num in range(1,21,2)]
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

üìù 4-7. Threes: Make a list of the multiples of 3, from 3 to 30. Use a for loop to
print the numbers in your list.

In [64]:
mutiples = [i*3 for i in range(3,31)]
for multiple in mutiples:
    print(multiple)

9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90

üìù 4-8. Cubes: A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube.

In [66]:
cubes = [i**3 for i in range(1,11)]
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000