In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hoang\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hoang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [70]:
import pandas as pd

#import data
df = pd.read_csv(r"C:\Users\Hoang\Data analysis\Datasets\audible_uncleaned.csv")
#set max width
pd.set_option("display.width",1000)
pd.set_option("display.max_colwidth",200)

#first 5 rows
print(f"First 5 rows are: \n{df.head()}") 
#Overview dataset
print(df.info())
print(df.describe())

#DATA CLEANING
#check missing values from columns
print(f"Missing values from columns are: \n{df.isnull().sum()}")

#check duplicated values
print(f"Duplicated values are: \n{df.duplicated().sum()}")

#Clean the author columns ==> remove writtenby, create a space between firstname and last name
df["author"] = df["author"].str.replace(r"Writtenby:","").str.replace(r"([a-z])([A-Z])",r"\1 \2",regex = True)

#Clean the author columns ==> remove writtenby, create a space between firstname and last name
df["narrator"] = df["narrator"].str.replace(r"Narratedby:","").str.replace(r"([a-z])([A-Z])",r"\1 \2",regex = True)

#Ensure consistency in ‘language’ column: Capitalize uniformly, check for misspellings, and remove additional characters.
df["language"] = df["language"].str.capitalize().str.replace(r"(^A-Za-z)","",regex = True)

#Split ‘stars’ column into ‘stars’ and ‘rating’: Store in numeric format for analysis.
df[["Stars","Rating"]]=df["stars"].str.split("out of 5 stars",expand=True)
# drop column stars
df.drop(columns =["stars"],inplace=True)

df["time"] =df["time"].str.replace(r"\d+","",regex=True)
df["time"].unique()

First 5 rows are:
                                         name                     author                   narrator                time releasedate language                          stars   price
0                  Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton      Narratedby:BillLobely   2 hrs and 20 mins    04-08-08  English     5 out of 5 stars34 ratings  468.00
1                            The Burning Maze      Writtenby:RickRiordan   Narratedby:RobbieDaymond   13 hrs and 8 mins    01-05-18  English   4.5 out of 5 stars41 ratings  820.00
2                                The Deep End       Writtenby:JeffKinney      Narratedby:DanRussell    2 hrs and 3 mins    06-11-20  English   4.5 out of 5 stars38 ratings  410.00
3                        Daughter of the Deep      Writtenby:RickRiordan  Narratedby:SoneelaNankani  11 hrs and 16 mins    05-10-21  English   4.5 out of 5 stars12 ratings  615.00
4  The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan  Narratedby:JesseBernstein              10 hrs    13-01-10  English  4.5 out of 5 stars181 ratings  820.00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB
None
                  name              author              narrator    time releasedate language          stars   price
count            87489               87489                 87489   87489       87489    87489          87489   87489
unique           82767               48374                 29717    2284        5058       36            665    1011
top     The Art of War  Writtenby:矢島雅弘,石橋遊  Narratedby:anonymous  2 mins    16-05-18  English  Not rated yet  586.00
freq                20                 874                  1034     372         773    61884          72417    5533
Missing values from columns are:
name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64
Duplicated values are:
0

array([' hrs and  mins', ' hrs', ' hrs and  min', ' hr and  mins',
       ' mins', ' hr', ' hr and  min', ' min', 'Less than  minute'],
      dtype=object)

In [92]:
import pandas as pd

# Sample DataFrame
data = {'Duration': ["2 hrs 5 mins 30 sec", "45 min 15 sec", "30 sec", "1 hr"]}
df = pd.DataFrame(data)
df[["Hours","Mins"]] = df["Duration"].str.extract(r"(?:(\d+)\s*h)?(?:(\d+)\s*m)?", expand =True)
df

              Duration Hours Mins
0  2 hrs 5 mins 30 sec     2  NaN
1        45 min 15 sec   NaN   45
2               30 sec   NaN  NaN
3                 1 hr     1  NaN

In [88]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({"Duration": ["2 hrs", "10 hrs", "1 hr", "4 hrs"]})

# Extract hours using regex
df['Hours'] = df["Duration"].str.extract(r"(?:(\d+)\s*h)?")



df

  Duration Hours
0    2 hrs     2
1   10 hrs    10
2     1 hr     1
3    4 hrs     4