In [ ]:
"""Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key 
and item from list2 is the value"""

In [6]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
new_dict = dict(zip(keys,values))

print(new_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [10]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
new_dict = dict()
for i in range(len(keys)):
    new_dict.update({keys[i]:values[i]})
print(new_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
""" Ex2: Merge two Python dictionaries into one"""

In [12]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
"""Print the value of key ‘history’ from the below dict"""

In [34]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict["class"]["student"]["marks"]["history"])

80

In [ ]:
"""Ex 4: Initialize dictionary with default values"""

In [40]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
new_dict = dict.fromkeys(employees,defaults)
print(new_dict)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
"""Ex 5: Create a dictionary by extracting the keys from a given dictionary"""

In [126]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
new_dict = dict()
for i in sample_dict.keys():
    if i == "name" or i == "salary":
        new_dict.update({i:sample_dict[i]})
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
"""Ex6: Delete a list of keys from a dictionary"""

In [128]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
for i in keys:
    if i in sample_dict:
        sample_dict.pop(i)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [ ]:
"""Ex 7: Write a Python program to check if value 200 exists in the following dictionary."""

In [134]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print("200 present in a dict")

200 present in a dict

In [ ]:
""" Ex8: Write a program to rename a key city to a location in the following dictionary."""

In [150]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
for i in sample_dict:
    del sample_dict[i]
sample_dict.update({"location":"New york"})
print(sample_dict)

RuntimeError: dictionary changed size during iteration

In [ ]:
"""Ex 9: Get the key of a minimum value from the following dictionary"""

In [174]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min_key = min(sample_dict)
print(sample_dict.keys())
print(min_key)

dict_keys(['Physics', 'Math', 'history'])
Math

In [ ]:
"""Ex 10: Write a Python program to change Brad’s salary to 8500 in the following dictionary."""

In [190]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict["emp3"]["salary"] = 8500
print(sample_dict)
for i, obj in sample_dict.items():
    print(i)
    for y in obj:
        print(y, ":", obj[y])

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}
emp1
name : Jhon
salary : 7500
emp2
name : Emma
salary : 8000
emp3
name : Brad
salary : 8500