In [ ]:
"""Write a program to accept two numbers from the user and calculate multiplication"""

In [18]:
first_num = int(input("Write your number"))
second_number = int(input("Write your number"))
#
print("")
print(f"multiplication of you numbers is: {first_num*second_number}")

Write your number 6
Write your number 8

multiplication of you numbers is: 48

In [ ]:
"""Ex 2: Use the print() function to format the given words in the mentioned format. Display the ** separator between each string."""

In [22]:
print('Name', 'Is', 'James',sep="**")

Name**Is**James

In [ ]:
""" Ex3: Convert Decimal number to octal using print() output formatting"""

In [26]:
user = int(input("Write number here"))
oct_user = oct(user)
print("")
print(f"The octal number of decimal number {user} is : {oct_user}")

Write number here 8

The octal number of decimal number 8 is : 0o10

In [ ]:
"""Ex 4: Accept a list of 5 float numbers as an input from the user"""

In [52]:
user = input("Enter elements of a list separated by space \n")
#create empty list 
new_user = []
#turn user into list
user_list =user.split()
#convert element of user_list into float number
for i in user_list:
    i=float(i)
    new_user.append(i)

print("")
print(new_user)

Enter elements of a list separated by space
 3.3 3.4

[3.3, 3.4]

In [54]:
user = input("Enter elements of a list separated by space \n")
#create empty list 
new_user = []
#turn user into list
user_list =user.split()
#convert element of user_list into float number
new_user = [float(i) for i in user_list]

print("")
print(new_user)

Enter elements of a list separated by space
 3.3 3.4

[3.3, 3.4]

In [56]:
numbers = []

# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :

 3.3

Enter number at location 1 :

 3.4

Enter number at location 2 :

 3.5

Enter number at location 3 :

 3.6

Enter number at location 4 :

 3.7

User List: [3.3, 3.4, 3.5, 3.6, 3.7]

In [ ]:
"""Ex 7: Write a program to take three names as input from a user in the single input() function call."""

In [68]:
user = input("Enter three string")
#convert user into list
user_list = user.split()
#
for i in range(0,len(user_list),1):
    print(f"Name{i+1}: {user_list[i]}")

Enter three string a b c

Name1: a
Name2: b
Name3: c