In [ ]:
"""Exercise 1: Reverse a list in Python"""

In [2]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
"""Exercise 2: Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, 
then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list."""

In [34]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = zip(list1,list2)
print(list(list3))

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Ke', 'lly')]

In [26]:
list1 = ["M", "na", "i", "Ke", "ha", "ni"]
list2 = ["y", "me", "s", "lly","ho"]
list3 = []
i=0
length_list1 = len(list1)
length_list2 = len(list2)
# decide which list bigger
if length_list1 > length_list2:
    while i < length_list2:
        list3.append(list1[i]+list2[i])
        i+=1
    else:
        list3.append(list1[i])
        i+=1
else:
    while i < length_list1:
        list3.append(list1[i]+list2[i])
        i+=1
    else:
        list3.append(list2[i])
        i+=1
print(list3)

['My', 'name', 'is', 'Kelly', 'haho', 'ni']

In [ ]:
"""Exercise 3: Turn every item of a list into its square"""

In [36]:
numbers = [1, 2, 3, 4, 5, 6, 7]
square_num = []
for i in numbers:
    square_num.append(i*i)
print(square_num)

[1, 4, 9, 16, 25, 36, 49]

In [42]:
numbers = [1, 2, 3, 4, 5, 6, 7]
square_num = [i*i for i in numbers]
print(square_num)

[1, 4, 9, 16, 25, 36, 49]

In [56]:
"""Exercise 4: Concatenate two lists in the following order"""
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
for x in list1:
    for y in list2:
        list3.append(x+y)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [58]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 =[x+y for x in list1 for y in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
"""Exercise 5: Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in 
original order and items from list2 in reverse order.

In [68]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
zipped = zip(list1,list2)
for i in list(zipped):
    print(i)

(10, 400)
(20, 300)
(30, 200)
(40, 100)

In [70]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for x,y in zip(list1,list2):
    print(x,y)

10 400
20 300
30 200
40 100

In [ ]:
"""Exercise 6: Remove empty strings from the list of strings"""

In [74]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
    if i =="":
        list1.remove(i)
print (list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
"""Exercise 8: You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in 
such a way that it will look like the following list"""

In [18]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
""" Ex 9: You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200.
Only update the first occurrence of an item.

In [34]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range (len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
""" Ex 10: Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more 
and the first and last characters are the same."""

In [54]:
list1 = ['abc', 'xyz', 'aba', '1221']
new_list=[]
for i in list1:
    if len(i)>2 and i[0] == i[-1]:
        new_list.append(i)
print(len(new_list))

2

In [58]:
list1 = ['abc', 'xyz', 'aba', '1221']
new_list = [i for i in list1 if len(i)>2 and i[0] == i[-1]]
print(len(new_list))

2

In [66]:
def count_string(list1):
    count = 0
    for i in list1:
        if len(i)>2 and i[0]==i[-1]:
            count+=1
    return count
        
count_string(['abc', 'xyz', 'aba', '1221',"373"])

3