In [ ]:
""" Ex 1: Print first 10 natural numbers using while loop """

In [22]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
""" Ex2: Write a Python code to print the following number pattern using a loop.
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5 """

In [46]:
row = 5
for i in range(1,row+1,1):
    for j in range(1,i+1,1):
        print("*",end="")
    print("")

*
**
***
****
*****

In [ ]:
""" Ex 3:Write a Python program to accept a number from a user and calculate the sum of all numbers from 1 to a given number"""

In [62]:
user=int(input("Enter number"))
i=1
j=0
while i<=user+1:
    j+=i-1
    i+=1    
print(f"Sum is: {j}")

Enter number 10

Sum is: 55

In [76]:
user=int(input("Enter number"))
j=0
for i in range(2,user+2,1):
    j+=i-1
print(f"Sum is: {j}")

Enter number 10

Sum is: 55

In [ ]:
"""Ex 4: Print multiplication table of a given number"""

In [80]:
num = 2
for i in range(1,11,1):
    print(num*i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
"""ex5: Write a Python program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the following number
If the number is greater than 500, then stop the loop###

In [84]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i >500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

75
150
145

In [ ]:
"""ex6: Write a Python program to count the total number of digits in a number using a while loop.

For example, the number is 75869, so the output should be 5."""

In [4]:
num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [ ]:
"""EX 7: Write a Python program to print the reverse number pattern using a for loop.
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1"""

In [20]:
for i in range(5,0,-1):
    for j in range (i,0,-1):
        print(j,end="")
    print("")

54321
4321
321
21
1

In [ ]:
 """Exercise 3: Countdown from 5 to 1
Task: Use a while loop to print numbers from 5 down to 1."""

In [32]:
i = 5
while i >0:
    print(i)
    i-=1

5
4
3
2
1

In [38]:
j=0
for i in range(1,101):
    j=j+i
print(j)

5050

In [ ]:
"""Exercise 5: Multiplication table of a number
Task:
Ask the user for a number (like 5) and print the multiplication table for that number (from 1 to 10).
Enter a number: 5
5 x 1 = 5
5 x 2 = 10
...
5 x 10 = 50
"""

In [48]:
user = int(input("Enter number"))
for i in range(1,11):
    print(f"{user} x {i} = {user*i}")

Enter number 20

20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [ ]:
"""Exercise 9: FizzBuzz (Classic Problem)
Task:
Print numbers from 1 to 30, but with a twist:

If the number is divisible by 3, print "Fizz".
If the number is divisible by 5, print "Buzz".
If the number is divisible by both 3 and 5, print "FizzBuzz".
Otherwise, just print the number."""

In [52]:
for i in range(1,31):
    if i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    elif i%3==0 and i%5==0:
        print("FizzBuzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz

In [ ]:
"""Exercise 10: Guess the Number Game
Task:

Use random to generate a secret number between 1 and 10.
Ask the user to guess.
Keep asking until they guess the right number.
At the end, print "You got it!"."""

In [72]:
import random
secret_number = random.randint(1, 10)
user_guess = int(input("Enter here"))
while user_guess != secret_number:
    if user_guess>secret_number:
        print("too high")
        user_guess = int(input("Enter here"))
    else:
        print("too low")
        user_guess = int(input("Enter here"))
print("Got it")

Enter here 7

too high

Enter here 5

too high

Enter here 1

Got it

In [ ]:
"""Exercise 8: Print list in reverse order using a loop"""

In [5]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

In [ ]:
"""Display numbers from -10 to -1 using for loop"""

In [7]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
"""Exercise 10: Display a message “Done” after the successful execution of the for loop"""

In [9]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [ ]:
"""Exercise 11: Print all prime numbers within a range
Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers.

Examples:

6 is not a prime number because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply to make it."""

In [15]:
#range
start = 25
end = 50
i=start
while i in range(start,end):
    if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0:
        print(i)
    i+=1

29
31
37
41
43
47

In [ ]:
"""Exercise 12: Display Fibonacci series up to 10 terms
Have you ever wondered about the Fibonacci Sequence? It’s a series of numbers in which the next number is found by adding up 
the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series is 13 + 21 = 34."""

In [23]:
num1 = 0
num2= 1
fib=[0,1]
for i in range (8):
    i = num1+num2
    fib.append(i)
    num1=num2
    num2=i
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
"""Find the factorial of a given number
Write a Python program to use for loop to find the factorial of a given number.
The factorial (symbol: !) means multiplying all numbers from the chosen number down to 1.
For example, a factorial of 5! is 5 × 4 × 3 × 2 × 1 = 120"""

In [45]:
user = int(input("enter here"))
factorial = 1
if user<0:
    print("Error")
else:
    for i in range(1,user+1):
        factorial*=i
print(factorial)

enter here 0

1

In [ ]:
"""Reverse a integer number"""

In [67]:
given_number = 76542
#turn int into list
str_given_number =list(str(given_number))
#reverse list
str_given_number.reverse()
#joint list so list turn into integer
new_str_given_number = int("".join(str_given_number))

<class 'int'>

In [75]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number*10)  + reminder
    num = num // 10
print("Revere Number ", reverse_number)

Given Number  76542
Revere Number  24567

In [ ]:
"""Exercise 15: Print elements from a given list present at odd index positions"""

In [91]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(0,len(my_list),2):
    print(my_list[i])

10
30
50
70
90

In [ ]:
"""Write a Python program to print the cube of all numbers from 1 to a given number"""

In [99]:
input_number = 10
for i in range(1,input_number+1):
    print(f"Current Number is : {i}  and the cube is {i**3}")

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
Current Number is : 7  and the cube is 343
Current Number is : 8  and the cube is 512
Current Number is : 9  and the cube is 729
Current Number is : 10  and the cube is 1000

In [ ]:
"""Write a program to calculate the sum of series up to n terms. 
For example, if n = 5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690"""

In [133]:
n=5
num=2
b=0
total_sum=0
for i in range(n):
    a=num*10**i+b
    b=a
    total_sum+=a
print(total_sum)

24690

In [ ]:
"""Write a program to print the following start pattern using the for loop

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
"""

In [3]:
for x in range(0, 3):
    print(x)

0
1
2

In [5]:
for i, x in enumerate(['A', 'B', 'C']):
    print(i, x)

0 A
1 B
2 C