In [ ]:
""" Ex1: Given a Python list, Write a program to add all its elements into a given set."""

In [8]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Black', 'Blue', 'Orange', 'Green', 'Red', 'Yellow'}

In [ ]:
""" Ex2: Return a new set of identical items from two sets"""

In [24]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.intersection(set2)
print(set3)

{40, 50, 30}

In [ ]:
""" Ex3: Write a Python program to return a new set with unique items from both sets by removing duplicates."""

In [28]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
"""Ex4: Given two Python sets, write a Python program to update the first set with items that exist only in the first set and 
not in the second set."""

In [30]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set3 = set1.difference(set2)
print(set3)

{10, 30}

In [ ]:
"""Ex5: Write a Python program to remove items 10, 20, 30 from the following set at once."""

In [36]:
set1 = {10, 20, 30, 40, 50}
set2 = {x for x in set1 if x ==40 or x == 50}
print(set2)

{40, 50}

In [38]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

In [ ]:
""" Ex 6: Return a set of elements present in Set A or B, but not both"""

In [42]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.symmetric_difference(set2)
print(set3)

{20, 70, 10, 60}

In [ ]:
""" Ex7: Check if two sets have any elements in common. If yes, display the common elements"""

In [48]:

def display_common(set1,set2):
    for i in set1:
        for j in set2:
            if j==i:
                set3=set1.intersection(set2)
                print(f"""Two sets have items in common
{set3}""")
display_common({10, 20, 30, 40, 50},{60, 70, 80, 90, 10})

Two sets have items in common
{10}

In [54]:
def display_common(set1,set2):
    result = set1.isdisjoint(set2)
    if result == False:
        set3 = set1.intersection(set2)
        print(f"""Two sets have items in common
{set3}""")
display_common({10, 20, 30, 40, 50},{60, 70, 80, 90, 10})

Two sets have items in common
{10}

In [ ]:
""" Ex 8: Update set1 by adding items from set2, except common items"""

In [56]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [ ]:
""" Ex9: Remove items from set1 that are not common to both set1 and set2"""

In [60]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}