In [ ]:
#Ex 1: Write a program to create a new string made of the middle three characters of an input string.

In [32]:
#First way:


str1 = "JhonDipPeta"
print (f"Original string is: {str1}")
l = len(str1)  # use variable l to know str1 length
mid =int( l/2)  # use variable mid to know middle str1 length. int to convert float into integer
fi = mid-1  # use variable fi to know char before middle char of str1
af = mid+1  # use variable af to know char after middle char of str1
print (f"Middle three character is : {str1[fi]+str1[mid]+str1[af]}")

Original string is: JhonDipPeta
Middle three character is : Dip

In [36]:
#Second way:

str1 = "JhonDipPeta"
print (f"Original string is: {str1}")
print (f"Middle three character of the original string is : {str1[4:7]}")

Original string is: JhonDipPeta
Middle three character of the original string is : Dip

In [54]:
# third way

str1 = "JhonDipPeta"
print (f"Original string is: {str1}")
l = len(str1)  # use variable l to know str1 length
mid =int( l/2)  # use variable mid to know middle str1 length. int to convert float into integer
fi = mid-1  # use variable fi to know char before middle char of str1
af = mid+1  # use variable af to know char after middle char of str1
new_str1 =[]
for i in range (len(str1)):
    
    if i==mid or i==fi or i==af:
        new_str1.append(str1[i])
print (f"Middle three character of the original string is : {new_str1}")

Original string is: JhonDipPeta
Middle three character of the original string is : ['D', 'i', 'p']

In [86]:
def middle_three_char(str1):
    print (f"Original string is: {str1}")
    l=len(str1)
    x=int(l/2)
    new_str = str1[x-1]+str1[x]+str1[x+1]
    print(f"Middle three character of the original string is : {new_str}")

middle_three_char("JhonDipPeta")
middle_three_char("JaSonAy")

Original string is: JhonDipPeta
Middle three character of the original string is : Dip
Original string is: JaSonAy
Middle three character of the original string is : Son

In [ ]:
# Ex2: Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.
# s1 = "Ault"
# s2 = "Kelly"

In [88]:
def append_two_string(s1,s2):
    l = len(s1)
    x = int(l/2)
    s3 = s1[0:x]+s2+s1[x:l]
    print(s3)
append_two_string("Ault","Kelly")

AuKellylt

In [ ]:
# Ex3 : Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

In [108]:
def combine_two_string(s1,s2):
    mid_s1 = int(len(s1)/2) # middle index number of s1
    mid_s2 = int(len(s2)/2) # middle index number of s2
    s3 = s1[0] + s2[0] + s1[mid_s1]+s2[mid_s2] + s1[len(s1)-1] + s2[len(s2)-1]
    print (f"New combine string is : {s3}")
combine_two_string("America","Japan")

New combine string is : AJrpan

In [ ]:
""" Exercise 4: Arrange string characters such that lowercase letters should come first
 Given string contains a combination of the lower and upper case letters. Write a program to arrange 
the characters of a string so that all lowercase letters should come first. """

In [5]:
str1 = "PyNaTive"
x=""
y=""
for i in str1:
    if i.islower():
        x=x+i
    else:
        y=y+i
print(y)

s3=x+y
print (s3)

PNT
yaivePNT

In [156]:
def arrange_character(str1):
    x=""
    y=""
    for i in str1:
        if i.islower():
            x=x+i
        else:
            y=y+i
    return x+y
arrange_character("PyNaTive")

'yaivePNT'

In [ ]:
""" Exercise 5: Count all letters, digits, and special symbols from a given string """

In [25]:
def count_all(str1):
    chars = ""
    digits = ""
    symbols = ""
    for i in str1:
        if i.isalpha():
            chars+=i
        elif i.isdigit():
            digits+=i
        else:
            symbols+=i
    print(f"""Total counts of chars, digits, and symbols 
Chars = {len(chars)}
Digits = {len(digits)}
Symbols = {len(symbols)}""")
count_all("P@#yn26at^&i5ve")

Total counts of chars, digits, and symbols
Chars = 8
Digits = 3
Symbols = 4

In [ ]:
""" Ex 6: Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the 
last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

In [39]:
s1 = "Abc"
s2 = "Xyz"

# get string length
s1_length = len(s1)
s2_length = len(s2)

# get length of a bigger string
if s1_length<s2_length:
    length = s2_length
else:
    length = s1_length

result = ""

# reverse s2
s2 = s2[::-1]

# iterate string 
# s1 ascending and s2 descending
for i in range(length):
        result = result + s1[i]
        result = result + s2[i]

print(result)

AzbycX

In [ ]:
""" Ex 7: Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters 
in the s1 are present in s2. The character’s position doesn’t matter."""

In [81]:
s1 = "Yn"
s2 = "PYnative"
s3 = ""
if s1 in s2:
    print(s1 in s2)
else:
    print(s1 not in s2)

True

In [87]:
def string_balance(s1,s2):
    if s1 in s2:
        print(s1 in s2)
    else:
        print(s1 in s2)
string_balance("Yno","PYnative")

False

In [ ]:
""" Ex 8: Write a program to find all occurrences of “USA” in a given string ignoring the case."""

In [123]:
str1 = "Welcome to USA. usa awesome, isn't it?"
str1 = str1.lower()
print(str1.count("usa"))

2

In [129]:
def count_all_occurrence(s1,s2):
    s1 = s1.lower()
    s2 = s2.lower()
    return s2.count(s1)
count_all_occurrence("uSa","Welcome to USA. usa awesome, isn't it?. I love UsA")

3

In [ ]:
""" Ex 9: Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring
all other characters."""

In [153]:
str1 = "PYnative29@#8496"
digits = 0
digits_count = 0
for i in str1:
    if i.isdigit():
        x=int(i)
        digits_count = digits_count+1
        digits = digits+x
print(digits_count)

6

In [159]:
def sum_average(str1):
    digits = 0
    digits_count = 0
    for i in str1:
        if i.isdigit():
            x=int(i)
            digits_count = digits_count+1
            digits = digits+x
    ave = digits/digits_count
    print(f" Sum is {digits} Average is {ave}")
sum_average("PYnative29@#8496")

 Sum is 38 Average is 6.333333333333333

In [167]:
str1 = "PYnative"
str1 = str1[::-1]
print(str1)

evitanYP

In [169]:
def reserved(str1):
    str1=str1[::-1]
    return str1
reserved("PYnative")

'evitanYP'

In [ ]:
""" Ex 12: Write a program to find the last position of a substring “Emma” in a given string."""

In [183]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
str1 = str1.lower()
str1_index = str1.rindex("emma")
print(str1_index)

43

In [187]:
def last_position(s1,s2):
    s1 = s1.lower()
    s2 = s2.lower()
    s2_index = s2.rindex(s1)
    print(f"Last occurrence of Emma starts at index {s2_index}")
last_position("Emma","Emma is a data scientist who knows Python. Emma works at google.")

Last occurrence of Emma starts at index 43

In [ ]:
""" Ex 13: Write a program to split a given string on hyphens and display each substring.

In [12]:
str1 = "Emma-is-a-data-scientist"
str1 = str1.replace("-"," ")
new_str1_list = str1.split()
for i in new_str1_list:
    print (i)

Emma
is
a
data
scientist

In [18]:
def split_string(str1):
    str1 = str1.replace("-"," ")
    new_str1_list = str1.split()
    for i in new_str1_list:
        print(i)
split_string("Emma-is-a-data-scientist")

Emma
is
a
data
scientist

In [ ]:
""" Ex 14: Remove special symbols / punctuation from a string"""

In [26]:
import string
str1 = "/*Jon is @developer & musician"
str1_table = str1.maketrans("","",string.punctuation)
str1 = str1.translate(str1_table)
print(str1)

Jon is developer  musician

In [ ]:
""" Ex 16: Removal all characters from a string except integers"""

In [32]:
str1 = 'I am 25 years and 10 months old'
new_str1 = ""
for i in str1:
    if i.isdigit():
        new_str1+=i
print(new_str1)

2510

In [34]:
def remove_all_char(str1):
    new_str1 = ""
    for i in str1:
        if i.isdigit():
            new_str1+=i
    return new_str1
remove_all_char('I am 25 years and 10 months old')

'2510'

In [ ]:
""" Ex 17: Write a program to find words with both alphabets and numbers from an input string."""

In [62]:
str1 = "Emma25 is Data scientist50 and AI Expert"
str1_list = str1.split()
new_list = []
for i in str1_list:
    for char in i:
        if any(char.isalpha()) and any(char.isdigit()):
            new_list.append(i)
        else:
            continue 
    
print(new_list)

TypeError: 'bool' object is not iterable