In [ ]:
"""Exercise 1: Reverse the tuple"""

In [14]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [ ]:
"""Exercises 2: The given tuple is a nested tuple. write a Python program to print the value 20."""

In [22]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [ ]:
""" Exercises 3: Write a program to unpack the following tuple into four variables and display each variable"""

In [54]:
tuple1 = (10, 20, 30, 40)
(a,b,c,d) = tuple1
print(a)
print(b)
print(c)
print(d)
print(tuple1)

10
20
30
40
(10, 20, 30, 40)

In [ ]:
"""Exercises 4: Swap two tuples in Python"""

In [52]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [ ]:
"""Ex 5: Write a program to copy elements 44 and 55 from the following tuple into a new tuple."""

In [68]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 =[i for i in tuple1 if i == 44 or i == 55]
tuple2 = tuple(tuple2)
print(tuple2)

(44, 55)

In [ ]:
"""Ex 6: Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222"""

In [2]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [ ]:
""" Ex7: Counts the number of occurrences of item 50 from a tuple"""

In [6]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [4]:
def count_number(tuple1):
    count = 0
    for i in tuple1:
        if i ==50:
            count +=1
    return count
count_number((50, 10, 60, 70, 50))

2

In [ ]:
""" Ex8: Check if all items in the tuple are the same """

In [8]:
tuple1 = (45, 45, 45, 45)
for i in tuple1:
    if i ==tuple1[0]:
        print("True")
    else: 
        print("false")

True
True
True
True