In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hoang\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hoang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

data = pd.DataFrame({"Name":["John A. Doe", "Alice B. Smith", "Bob Johnson","Hoang Viet Trung","Nguyen Thi Hoang Mai"]})
#Extract First Name and Last Name into separate columns.
data[["FirstName","LastName"]] = data["Name"].str.extract(r"^(\w+).*\s(\w+)$",expand=True)
data

                   Name FirstName LastName
0           John A. Doe      John      Doe
1        Alice B. Smith     Alice    Smith
2           Bob Johnson       Bob  Johnson
3      Hoang Viet Trung     Hoang    Trung
4  Nguyen Thi Hoang Mai    Nguyen      Mai

In [10]:
import pandas as pd

data = pd.DataFrame({"Email":["john.doe@gmail.com", "alice_smith@yahoo.com", "bob@outlook.com"]})
#Extract only the domain (e.g., gmail.com, yahoo.com, outlook.com).
data["Domain"] = data["Email"].str.extract(r"@(.*)$")
data

                   Email       Domain
0     john.doe@gmail.com    gmail.com
1  alice_smith@yahoo.com    yahoo.com
2        bob@outlook.com  outlook.com

In [14]:
import pandas as pd

data = pd.DataFrame({"Product_Code":["Item-12345", "Product_67890", "Code-ABCDE"]})
# Extract only the numbers from codes.
data["Code"] = data["Product_Code"].str.extract(r"(\d+)")
data

    Product_Code   Code
0     Item-12345  12345
1  Product_67890  67890
2     Code-ABCDE    NaN

In [26]:
import pandas as pd

data =pd.DataFrame({"Date":["2024-03-25", "2023/12/05", "01-01-2022"]})
#Extract Year, Month, and Day into separate columns.
data[["Year","Month","Day"]] = data["Date"].str.extract(r"(\d{4})[-/](\d{2})[-/](\d{2})")
data

         Date  Year Month  Day
0  2024-03-25  2024    03   25
1  2023/12/05  2023    12   05
2  01-01-2022   NaN   NaN  NaN

In [42]:
import pandas as pd

data = pd.DataFrame({"Tweets":["I love #Python and #DataScience", "#AI is the future", "No hashtags here"]})
#Extract all hashtags into a new column.
data["Hashtags"] = data["Tweets"].str.extract(r"(#\w+)")
data

                            Tweets Hashtags
0  I love #Python and #DataScience  #Python
1                #AI is the future      #AI
2                 No hashtags here      NaN

In [62]:
import pandas as pd

data = pd.DataFrame({"Description":["I do want what I want", "want to work", "try hard"]})

data["Want"] = data["Description"].str.findall("want")
data

             Description          Want
0  I do want what I want  [want, want]
1           want to work        [want]
2               try hard            []

In [68]:
import pandas as pd

data = pd.DataFrame({"Prices":["$45.99", "€30.50", "£20"]})
data["Symbol"] = data["Prices"].str.extract(r"(^.)\d")
data

   Prices Symbol
0  $45.99      $
1  €30.50      €
2     £20      £

In [84]:
import pandas as pd

data = pd.DataFrame({"Text":["The event starts at 10:30 AM.", "Meeting at 3:45 PM.", "Lunch at noon."]})
data["Time"] = data["Text"].str.extract(r"(\d+:\d+)\s")
data

                            Text   Time
0  The event starts at 10:30 AM.  10:30
1            Meeting at 3:45 PM.   3:45
2                 Lunch at noon.    NaN