In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hoang\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hoang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [164]:
import pandas as pd
import re

# Sample data for practice
data = {
    'FullName': ['John Doe', 'Alice Smith', 'Bob Johnson', 'Charlie Brown', 'Eve White'],
    'ProductNames': ['Apple iPhone', 'Samsung Galaxy', 'Nokia Lumia', 'OnePlus Nord', 'Google Pixel'],
    'EmailAddresses': ['##john.doe123@gmail.com', 'alice.smith#yahoo.com', 'bob_johnson@outlook.com', 'charlie.brown@icloud.com', 'eve.white@google.com'],
    'Feedback': ['The product is good', 'Excellent performance', 'Good battery life', 'Bad camera quality', 'Good design'],
    'CityNames': ['new york city', 'los angeles', 'san francisco', 'chicago', 'miami'],
    'Description': ['This phone is amazing with a long-lasting battery', 'Samsung has the best screen quality', 'Nokia Lumia is durable but outdated', 'OnePlus Nord has great value for money', 'Google Pixel has the best camera'],
    'ProductCodes': ['Product123', 'Item4567', 'Device890', 'Gadget1234', 'Mobile5678']
}

#create DataFrame

df = pd.DataFrame(data)
pd.set_option("display.width",1000)
pd.set_option('display.max_colwidth', 20)
print(df)

# Split the full name into two separate columns: FirstName and LastName.

df[["FirstName","LastName"]] = df["FullName"].str.split(expand=True)
print(f"Separate FullName into FirstName and LastName: \n\n{df}")

# Convert all ProductNames to lowercase.

df["ProductNames"] = df["ProductNames"].str.lower()
print(f"Convert all ProductNames to lowercase. \n\n{df}")

#Remove unwanted special characters (like !, #, etc.) from the EmailAddresses column, keeping only valid characters.

df["EmailAddresses"] = df["EmailAddresses"].str.replace(r"[^A-Za-z0-9@._]","",regex=True)

#Replace all spaces in the ProductNames column with underscores (_).

df["ProductNames"] = df["ProductNames"].str.replace(r"\s","_",regex=True)

#Extract only the numbers from the ProductCodes column and create a new column for it.

df["Code"] = df["ProductCodes"].str.replace(r"[^0-9]","",regex=True)


# Check if Feedback Contains the Word "Good"

df["HasGoodFeedback"] = df["Feedback"].str.contains("good",case =False,na=False)

# Capitalize the first letter of each word in the CityNames column.

df["CityNames"] = df["CityNames"].str.split()
df

        FullName    ProductNames       EmailAddresses             Feedback      CityNames          Description ProductCodes
0       John Doe    Apple iPhone  ##john.doe123@gm...  The product is good  new york city  This phone is am...   Product123
1    Alice Smith  Samsung Galaxy  alice.smith#yaho...  Excellent perfor...    los angeles  Samsung has the ...     Item4567
2    Bob Johnson     Nokia Lumia  bob_johnson@outl...    Good battery life  san francisco  Nokia Lumia is d...    Device890
3  Charlie Brown    OnePlus Nord  charlie.brown@ic...   Bad camera quality        chicago  OnePlus Nord has...   Gadget1234
4      Eve White    Google Pixel  eve.white@google...          Good design          miami  Google Pixel has...   Mobile5678
Separate FullName into FirstName and LastName:

        FullName    ProductNames       EmailAddresses             Feedback      CityNames          Description ProductCodes FirstName LastName
0       John Doe    Apple iPhone  ##john.doe123@gm...  The product is good  new york city  This phone is am...   Product123      John      Doe
1    Alice Smith  Samsung Galaxy  alice.smith#yaho...  Excellent perfor...    los angeles  Samsung has the ...     Item4567     Alice    Smith
2    Bob Johnson     Nokia Lumia  bob_johnson@outl...    Good battery life  san francisco  Nokia Lumia is d...    Device890       Bob  Johnson
3  Charlie Brown    OnePlus Nord  charlie.brown@ic...   Bad camera quality        chicago  OnePlus Nord has...   Gadget1234   Charlie    Brown
4      Eve White    Google Pixel  eve.white@google...          Good design          miami  Google Pixel has...   Mobile5678       Eve    White
Convert all ProductNames to lowercase.

        FullName    ProductNames       EmailAddresses             Feedback      CityNames          Description ProductCodes FirstName LastName
0       John Doe    apple iphone  ##john.doe123@gm...  The product is good  new york city  This phone is am...   Product123      John      Doe
1    Alice Smith  samsung galaxy  alice.smith#yaho...  Excellent perfor...    los angeles  Samsung has the ...     Item4567     Alice    Smith
2    Bob Johnson     nokia lumia  bob_johnson@outl...    Good battery life  san francisco  Nokia Lumia is d...    Device890       Bob  Johnson
3  Charlie Brown    oneplus nord  charlie.brown@ic...   Bad camera quality        chicago  OnePlus Nord has...   Gadget1234   Charlie    Brown
4      Eve White    google pixel  eve.white@google...          Good design          miami  Google Pixel has...   Mobile5678       Eve    White

        FullName    ProductNames       EmailAddresses             Feedback      CityNames          Description ProductCodes FirstName LastName  Code  HasGoodFeedback
0       John Doe    apple_iphone  john.doe123@gmai...  The product is good  New york city  This phone is am...   Product123      John      Doe   123             True
1    Alice Smith  samsung_galaxy  alice.smithyahoo...  Excellent perfor...    Los angeles  Samsung has the ...     Item4567     Alice    Smith  4567            False
2    Bob Johnson     nokia_lumia  bob_johnson@outl...    Good battery life  San francisco  Nokia Lumia is d...    Device890       Bob  Johnson   890             True
3  Charlie Brown    oneplus_nord  charlie.brown@ic...   Bad camera quality        Chicago  OnePlus Nord has...   Gadget1234   Charlie    Brown  1234            False
4      Eve White    google_pixel  eve.white@google...          Good design          Miami  Google Pixel has...   Mobile5678       Eve    White  5678             True

In [50]:
import pandas as pd

CityNames = pd.Series(['NewyorkCity', 'LosAngeles', 'SanFrancisco', 'Chicago', 'Miami'])
CityNames=CityNames.str.replace(r"(\w)([a-z])([A-Z])",r"\1\2 \3",regex=True)
CityNames = CityNames.str.replace(r"(\w+)(\s)",r"\2",regex=True)
CityNames

0          City
1       Angeles
2     Francisco
3       Chicago
4         Miami
dtype: object