In [1]:
import pandas as pd
import sqlite3

In [5]:
conn = sqlite3.connect(r'C:\Users\Hoang\Data analysis\Datasets\Chinook_Sqlite.sqlite')

df = pd.read_sql_query('SELECT * FROM artist', conn )

df.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [7]:
select * from album

SyntaxError: invalid syntax (2122863656.py, line 1)