In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hoang\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hoang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [62]:
import pandas as pd

data = pd.DataFrame({"Name":["John A. Doe", "Alice B. Smith", "Bob Johnson","Hoang Viet Trung","Nguyen <>.:\^^ Mai"]})
#Extract First Name and Last Name into separate columns.
data[["FirstName","LastName"]] = data["Name"].str.extract(r"^(\w+).*\s(\w+)$",expand=True)
data

<>:3: SyntaxWarning: invalid escape sequence '\^'
<>:3: SyntaxWarning: invalid escape sequence '\^'
C:\Users\Hoang\AppData\Local\Temp\ipykernel_12480\4241085308.py:3: SyntaxWarning: invalid escape sequence '\^'
  data = pd.DataFrame({"Name":["John A. Doe", "Alice B. Smith", "Bob Johnson","Hoang Viet Trung","Nguyen <>.:\^^ Mai"]})

                 Name FirstName LastName
0         John A. Doe      John      Doe
1      Alice B. Smith     Alice    Smith
2         Bob Johnson       Bob  Johnson
3    Hoang Viet Trung     Hoang    Trung
4  Nguyen <>.:\^^ Mai    Nguyen      Mai